:host {
  display: block;
  core-toolbar {
    background: white;
    div {
      font-size: 21px;
      padding: 0;
      img {
        width: 2em;
        margin-right: .5em;
      }
    }
    paper-button {
      color: black;
      font-size: 14px;
      border-radius: 3px;
      text-decoration: none;
    }
    paper-button.selected {
      background: rgba(0,0,0,.1);
    }
    paper-button:hover {
      background: rgba(0,0,0,.1);
    }
  }
  div[content] {
    background: #f2f2f2;
  }
  footer {
    background: #9E9E9E;
    nav {
      width: 606px;
      padding: 2em;
      a {
        color: white;
      }
    }
  }
}
  
@media all and (max-width:650px) {
  footer nav {
    width: 90%;
  }
}